
:root {
    --icon-size-mobile: 100px;
    --icon-color: white;
    --icon-color-hover: white;
    --icon-stroke: white;
    --icon-stroke-hover: white;
  }


.button-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
}

.button-group {
    margin-bottom: 50px;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #1c1d1f;
    border: 2px solid #eb4f26;
    border-radius: 0.6em;
    color: #eb4f26;
    cursor: pointer;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    padding: 10px 40px;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
}

.btn:nth-child(1) {
    background-color: rgb(40, 122, 58);
}

.btn:nth-child(2) {
    background-color: rgb(94, 94, 94);
}

.btn:nth-child(3) {
    background-color: #eb4f26;
}

.btn:nth-child(4) {
    z-index: 7;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
}

.stylish-btn {
    border-color: white;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #64b4d8 50%, transparent 50%);
    background-image: linear-gradient(45deg, #64b4d8 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    z-index: 2;
}

.stylish-btn:hover {
    background-position: 0;
}


#selected-text {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 63%;
}

#select-text {
    display: flex;
    flex-direction: column;
  }  

.text-selector-button {
    color: black;
    width: 180px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 1px solid black;
    color: white;
    text-align: left;
}

.text-selector-button:hover {
    background-color: #64b4d8;
}

.text-selector-button:nth-child(7),
.text-selector-button:nth-child(8),
.text-selector-button:nth-child(9),
.text-selector-button:nth-child(10),
.text-selector-button:nth-child(11) {
    display: none;
}

.info-button {
    color: var(--icon-color);
    background: #64b4d8;
    font-size: 25px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px;
    width: 37px;
    height: 37px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.info-button:hover {
    background: #eb4f26;
    border: solid 2px;
    opacity: 0.98;
}

